* {
    font-family: 'Gilroy-Bold', sans-serif;
}
@media (min-width: 1500px) {
    .container{
        width: 600px;
    }
}
@media (max-width: 1024px){
    .container {
      max-width: 92%;
    }
}
label { 
    font-size: 14pt;
}
output {
    font-size: 14pt;
}