* {
    font-family: 'Gilroy-Bold', sans-serif;
}
@media (min-width: 1100px) {
    .container{
        width: 600px;
    }
    label { 
        font-size: 14pt;
    }
    output {
        font-size: 14pt;
    }
}
@media (max-width: 1024px){
    .container {
      max-width: 92%;
    }
    label { 
        font-size: 30pt;
    }
    output {
        font-size: 30pt;
    }
    p {
        font-size: 30pt;
    }
    .btn {
        font-size: 30pt;
    }
}